body {
  margin: 0;
  /* background-color: #c2c1c1; */
  background-color: #111111;
}

.start-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  position: relative;
  z-index: 1;
  opacity: 1; /* Inicialmente visível */
  transition: opacity 1s ease-out; /* Transição de opacidade para desaparecer */
}

svg {
  width: 80%;
  max-width: 600px;
}

text {
  fill: none;
  stroke: white;
  stroke-width: 0.5;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  font-family: Georgia, serif;
}

main {
  display: flex;
  flex-direction: column;
}

.container-home {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: relative;
  z-index: 0;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20%;
  color: white;
}

.carroseul-icons {
  width: 100%;
  height: 10vh;
  gap: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #38383894;
  background-color: #00000075;
}

.icon {
  display: flex;
  gap: 45px;
  animation: scroll 10s linear infinite;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* animação carrosel  */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
